.create-session-container {
    width: 90vw;
    padding: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create-session-title {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    margin: 0;
}

.create-session-subtitle {
    font-size: 12px;
    color: #374151;
    margin-top: 5px;
    margin-bottom: 12px;
    margin-left: 0;
    margin-right: 0;
}

.create-session-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.error-message {
    color: #ef4444;
    font-size: 12px;
    padding-bottom: 10px;
    margin: 0;
}

.creat-session-createBtn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #000000;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), o 4px 6px -4px rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 6px;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.creat-session-createBtn:hover:not(:disabled) {
  background-color: #CDB5AA; 
}

.creat-session-createBtn:disabled {
  background-color: #CDB5AA; 
  cursor: not-allowed;
}

@media (min-width: 768px){
    .create-session-container {
        width: 35vw;
    }
}

