.login-container {
    width: 360px;
    padding: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-title {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}

.login-subtitle {
    font-size: 12px;
    color: #475569;
    margin-top: 5px;
    margin-bottom: 24px;
}

.error-message {
    color: #EF4444;
    font-size: 12px;
    padding-bottom: 10px;
}

.login-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #000000;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), o 4px 6px -4px rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 6px;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.signup-text {
    font-size: 13px;
    color: #1E293B;
    margin-top: 12px;
}

.signup-button {
    all: unset;
    font-weight: 500;
    color: #FF9324;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s ease;
    display: inline;
}

.signup-button:hover {
    color: #e67e22;
}

@media (min-width: 768px){
    .login-container {
        width: 400px;
    }
}